{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('weightvest_running/view-link-js') }}

<a class="no-underline" href="{{ path('entity.node.canonical', {'node': row._entity.id}) }}">

  <div class="posts-views-row display-flex flex-row py-lg w-full">

    <div class="img-container h-full mr-lg w-2/5 ratio-4/3 sizing-border display-flex align-start overflow-hidden transition-fast py-xs">
      <div class="overflow-hidden radius-sm">
        {{fields["field_featured_image"].content}}
      </div>
    </div>
  
    <div class="w-3/5 sizing-border">

			{% if fields["title"] %}
				<h1 class="font-large text-lg">
					{{ fields["title"].content|striptags|raw }}
				</h1>
			{% endif %}

			{% if fields["created"] %}
				<p class="mb-md text-default-lt position-relative bottom-2px text-md">
					{{ fields["created"].content }}
				</p>
			{% endif %}

			{% if fields["field_stars"] %}
				<div class="position-relative top-2px mt-xs">
          {{ fields["field_stars"].content }}
        </div>
			{% endif %}

			{% if fields["field_review_tagline"] %}
				<p class="mb-sm text-default-lt text-md">
          {{ fields["field_review_tagline"].content }}
        </p>
			{% endif %}
      
			{% if fields["field_list_summary"] %}
				<p class="position-relative bottom-4px text-base">
					{{ fields["field_list_summary"].content }}
				</p>
			{% endif %}

			{% if fields["category_name"] %}
				<div class="category-wrapper position-relative bottom-2px text-base">
					{{ fields["category_name"].content }}
				</div>
			{% endif %}

      {% if row._entity and row._entity.field_tags %}
        <div class="tags-wrapper text-base">
					<p>
					<span class="font-bold position-relative bottom-2px text-default-lt mr-sm">Tagged:</span>
						{% for tag_item in row._entity.field_tags %}
							<span class="tag curor-pointer text-blue font-bold slide-out-underline" data-term-id="{{ tag_item.target_id }}">
								<span class="span-looks-like-a-link position-relative top-4px">{{ tag_item.entity.name.value }}</span>
							</span>
						{% endfor %}
					</p>
        </div>
      {% endif %}

    </div>
  
  </div>
</a>

